<table class="primary">
  <thead>
    <tr>
      <th {{action "setSortBy" "name"}}>Name</th>
      <th {{action "setSortBy" "quantity"}}>Quantity</th>
      <th {{action "setSortBy" "expiration"}}>Expiration Date</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |food|}}
      <tr>
        <td>{{food.name}}</td>
        <td>{{food.quantity}}</td>
        <td>{{formatted-date food.expiration}}</td>
        <td>{{link-to 'Edit' 'foods.edit' food}}</td>
        <td><a href="#" {{action 'delete' food}}>Delete</a></td>
      </tr>
    {{/each}}
  </tbody>
</table>
